rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /{document=**} {
      allow read: if true;
    }
  	match /organisations/{id} {
    	allow get: if true;
      allow create, update, delete: if request.auth != null && request.auth.token.admin;
    }
    match /contactMessages/{id} {
    	allow get, update, delete: if request.auth != null && request.auth.token.admin;
      allow create: if true;
    }
    match /roles/{id} {
    	allow read: if request.auth.uid == userId || request.auth.token.admin;
      allow write: if request.auth != null && request.auth.token.admin;
    }
  }
}