rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /organisations/{document=**} {
    	allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.token.admin;
    }
    match /contactMessages/{document=**} {
    	allow get, update, delete: if request.auth != null && request.auth.token.admin;
      allow create: if true;
    }
    match /users/{document=**} {
    	allow read: if request.auth.uid == userId || request.auth.token.admin;
      allow write: if request.auth != null && request.auth.token.admin;
    }

    match /organisations-dev/{id} {
    	allow get: if true;
      allow create, update, delete: if request.auth != null && request.auth.token.admin;
    }
  }
}